<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="user.bean.UserDTO" alias="user" />
		<typeAlias type="user.bean.UserQueryOption" alias="uqo" />
		<typeAlias type="recruit.bean.RecruitDTO" alias="recruit"/>
		<typeAlias type="recruit.bean.RecruitQueryOption" alias="rqo"/>
		<!-- <typeAlias type="comment.bean.CommentDTO" alias="comment"/> -->
	</typeAliases>


</configuration>