<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="commentMapper">
 
	<insert id="create" parameterType="comment">
		insert into comment(
			object,
			object_id,
			user_id,
			description,
			date_created,
			date_modified,
			comment_order,
			comment_level,
			parent_id
		)values(
			#{object},
			#{objectId},
			#{userId},
			#{description},
			now(),
			now(),
			#{commentOrder},
			#{commentLevel},
			#{parentId}
		)
		
	</insert>
	
	
	<select id="getComment" parameterType="Integer" resultType="comment">
		select 
			concat(ifnull(c.comment_order,''),lpad(c.id,'5','0')) as "commentOrder",
			c.comment_level+1 as "commentLevel"
		from
			comment c
		where c.id = #{parentId};
	</select>
	
	
	<select id="listComments" parameterType="comment" resultType="comment">
		select
			c.id as "id",
			c.parent_id as "parentId",
			c.user_id as "userId",
			u.name as "userName",
			u.image_url as "userImageUrl",
			c.description as "description",
			c.comment_level as "commentLevel",
			UNIX_TIMESTAMP(c.date_created)*1000 as "dateCreated",
			UNIX_TIMESTAMP(c.date_modified)*1000 as "dateModified"
		from
			comment c
			left join user u on c.user_id = u.id
		where
			c.object = #{object} and c.object_id = #{objectId}
		order by concat(ifnull(c.comment_order,''),lpad(c.id,'5','0'))
	</select>
	
	<update id="update" parameterType="comment">
		update comment set
			description = #{description}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from comment where id = #{id}
	</delete>
	
	
 </mapper>