<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="companyMapper">
 
 	<insert id="create" parameterType="company">
	 	insert into goodjob.company(
	 		image_url,
	 		name,
	 		user_id,
	 		password,
	 		email,
	 		description,
	 		address,
	 		date_created
	 	)values(
	 		#{imageUrl},
	 		#{name},
	 		#{userId},
	 		#{password},
	 		#{email},
	 		#{description},
	 		#{address},
	 		now()
	 	)
 	</insert>
 	
 	<select id="getCompany" parameterType="Integer" resultType="company">
 		select 
 			id as "id",
 			image_url as "imageUrl",
 			name as "name",
 			user_id as "userId",
 			password as "password",
 			description as "description",
 			email as "email",
 			address as "address",
 			date_created as "dateCreated"
 		from goodjob.company where id = #{id} and status = 0
 	</select>
 	
 	<select id="getCompanyCount" resultType="Integer">
 		select count(*) from goodjob.company where status = 0
 	</select>
 	
 	<select id="getIdByUserId" resultType="Integer">
 		select id from goodjob.company where user_id = #{userId}
 	</select>
 	
 	<update id="update" parameterType="company">
 		update goodjob.company set 
 			image_url = #{imageUrl},
 			user_id = #{userId},
 			password = #{password},
 			name = #{name},
 			description = #{description},
 			email = #{email},
 			address = #{address}
 		where id = #{id} and status = 0
 	</update>
 	
	<update id="softDelete" parameterType="Integer">
		update goodjob.company set
			status = 1
		where id= #{id} and status = 0
	</update>
	
	<update id="block" parameterType="Integer">
		update goodjob.company set
			status = 2
		where id= #{id} and status = 0  and status !=2
	</update>
	
	<update id="rollback" parameterType="Integer">
		update goodjob.company set
			status = 0
		where id= #{id} and status = 1
	</update>
	
	<select id="listCompanies" parameterType="cqo" resultType="List">
		select
			id as "id",
			image_url as "imageUrl",
			name as "name",
			email as "email",
			address as "address",
			description as "description",
			date_created as "dateCreated"
		from 
			goodjob.company
		where
			<if test="!deleted">
				where status = 0 and
			</if>
			<if test="keyword !== null">
				where 
			</if>
		
			
	</select>
	
	
	
 </mapper>