<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="recruitMapper">
 
	<insert id="create" parameterType="user">
		insert into recruit(
			title,
			description,
			category_id,
			date_start,
			date_end,
			host,
			address,
			user_id,
			max_personnel,
			current_personnel,
			date_created,
			date_modified
		)values(
			#{title},
			#{description},
			#{categoryId},
			#{dateStart},
			#{dateEnd},
			#{host},
			#{address},
			#{userId},
			#{maxPersonnel},
			0,
			now(),
			now()
		)
	</insert>
 	
 	<update id="update" parameterType="user">
 		update recruit set
 			title = #{title},
 			description = #{description},
 			category_id = #{categoryId},
 			date_start = #{dateStart},
 			date_end = #{dateEnd},
 			host = #{host},
 			address = #{address},
 			max_personnel = #{maxPersonnel},
 			date_modified = now()
 		where id = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="Integer">
		delete from recruit where id = #{id}
	</delete>
	
	<select id="getRecruit" parameterType="Integer">
		select * from recruit where id = #{id}
	</select>
	
	<select id="listRecruits" parameterType="rqo" resultType="recruit">
		select 
			id as "id",
			title as "title",
			description as "description",
			category_id as "categoryId",
			date_start as "dateStart",
			date_end as "dateEnd",
			host as "host",
			address as "address",
			user_id as "userId",
			max_personnel as "maxPersonnel",
			current_personnel as "currentPersonnel",
			date_created as "dateCreated",
			date_modified as "dateModified"
		from
			recruit
	</select>
	
 </mapper>