<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="userMapper">
 
	<insert id="create" parameterType="user">
		insert into user(
			image_url,
			name,
			interests,
			description,
			email,
			phone,
			address,
			type,
			date_created
		)values(
			#{imageUrl},
			#{name},
			#{interests},
			#{description},
			#{email},
			#{phone},
			#{address},
			#{type},
			now()
		)
	</insert>
	
	<select id="checkEmailExist" resultType="Integer">
		select
			type as "type"
		from
			user
		where 
			email = #{email}
	</select>
	
	<select id="logIn" parameterType="hashMap" resultType="Integer">
		select 
			id as "id"
		from
			user
		where 
			email = #{email} and status = 0
	</select>
	
	<select id="getUser" parameterType="Integer" resultType="user">
		select
			id as "id",
			image_url as "imageUrl",
			name as "name",
			interests as "interests",
			description as "description",
			point as "point",
			email as "email",
			phone as "phone",
			address as "address",
			reported as "reported",
			UNIX_TIMESTAMP(date_created) as "dateCreated",
			type as "type"
		from
			user
		where
			id= #{id} and status = 0
		
	</select>
	
	<select id="getIdByEmail" resultType="Integer">
 		select id from user where email = #{email}
 	</select>
 	
 	<select id="getUserCount" resultType="Integer">
 		select count(*) from user
 	</select>
 	
 	<update id="update" parameterType="user">
 		update user set
 			image_url = #{imageUrl},
 			name = #{name},
 			interests = #{interests},
 			description = #{description},
 			email = #{email},
 			phone = #{phone},
 			address = #{address},
 			type = #{type}
 		where id = #{id} and status = 0
 	</update>
 	
 	<update id="softDelete" parameterType="Integer">
		update user set
			status = 1
		where id= #{id} and status != 1
	</update>
	
	<update id="block" parameterType="Integer">
		update user set
			status = 2
		where id= #{id} and status = 0  and status !=2
	</update>
	
	<update id="rollback" parameterType="Integer">
		update user set
			status = 0
		where id= #{id} and status != 0
	</update>
 
 
<!--  	<insert id="create" parameterType="company">
	 	insert into company(
	 		image_url,name,user_id,password,email,description,address,date_created
	 	)values(
	 		#{imageUrl},#{name},#{userId},#{password},#{email},#{description},#{address},now()
	 	)
 	</insert>
 	
 	<select id="getCompany" parameterType="Integer" resultType="company">
 		select 
 			id as "id",
 			image_url as "imageUrl",
 			name as "name",
 			description as "description",
 			email as "email",
 			address as "address",
 			date_created as "dateCreated"
 		from company where id = #{id} and deleted = 0
 	</select>
 	
 	<select id="getCompanyCount" resultType="Integer">
 		select count(*) from company where deleted = 0
 	</select>
 	
 	<select id="getIdByName" resultType="Integer">
 		select id from company where name = #{name}
 	</select>
 	
 	<update id="update" parameterType="company">
 		update company set 
 			image_url = #{imageUrl},
 			user_id = #{userId},
 			password = #{password},
 			name = #{name},
 			description = #{description},
 			email = #{email},
 			address = #{address}
 		where id = #{id} and deleted = 0
 	</update>
 	
	<update id="delete" parameterType="Integer">
		update company set
			deleted = 1
		where id= #{id} and deleted = 0
	</update>
	
	<update id="rollback" parameterType="Integer">
		update company set
			deleted = 0
		where id= #{id} and deleted = 1
	</update> -->
	
 </mapper>